/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-size: 16px;
  font-weight: 400px;
  font-family: sans-serif;
  background: #eee;
}

.header {
  background: red;
  border-bottom: 1px solid #ccc;
  color: white;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
